//@import '@fortawesome/fontawesome-free/css/all.min.css';
//@import './partials/variables';

@use "./partials/variables" as *;
@import "bootstrap";
@import "@fortawesome/fontawesome-free/css/all.min.css";

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto!important;
    background: rgb(219,122,88);
    background: linear-gradient(180deg, rgba(219,122,88,1) 0%, rgba(22,105,122,1) 47%, rgba(44,44,44,1) 80%, rgba(0,0,0,1) 100%);   
    //background-image: url('/blurry-gradient-haikei\(1\).svg');
    // background-image: url('/blurry-gradient-haikei\(2\).svg');
    //background-image: url('/blurry-gradient-haikei\(3\).svg');
    //background-image: url('/blurry-gradient-haikei.svg');
    // background-repeat: no-repeat;
    // background-size: cover;
}
#app {
    display: contents;
}

.general-btn{
    text-decoration: none;
    background-color: transparent;
    border:none;
    border-radius: 30px;
    border: 2px solid $partial-secondary-color;
    color:#fff;
    padding: 5px 15px;
    margin-top:10px;
    &:hover{
        background-color: #1b8397;
    }
    &:focus {
        background-color: #0f4651;
        border-color: #a33f0d;
        color:#a33f0d;
    }
}