@import '@fortawesome/fontawesome-free/css/all.min.css';
@import './partials/variables';

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto!important;
    background-color: $primary-color!important;
}
#app {
    display: contents;
}

.general-btn{
    background-color: transparent;
    border:none;
    border-radius: 30px;
    border: 2px solid $partial-secondary-color;
    color:#fff;
    padding: 5px 15px;
    margin-top:10px;
    &:hover{
        background-color: #1b8397;
    }
    &:focus {
        background-color: #0f4651;
        border-color: #a33f0d;
        color:#a33f0d;
    }
}